<a href="https://colab.research.google.com/github/PriyathamVarma/LEAF/blob/main/IRIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook is for creating basic classification model using IRIS dataset

In [16]:
from sklearn.datasets import load_iris
import pandas as pd

In [17]:
data = load_iris()

In [18]:
x_data = pd.DataFrame(data.data,columns = data.feature_names)

In [19]:
x_data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [20]:
y_data = pd.Series(data = data.target, name = 'Targets')

In [34]:
pd.unique(y_data)

array([0, 1, 2])

# Model development

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_data,y_data,test_size=0.4)

In [25]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [26]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

In [27]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [28]:
y_predictions = model.predict(x_test)

In [29]:
y_predictions

array([2, 1, 0, 2, 2, 0, 0, 0, 2, 1, 1, 0, 2, 0, 2, 2, 0, 1, 0, 1, 2, 2,
       2, 2, 2, 1, 2, 2, 1, 1, 1, 0, 1, 1, 0, 2, 1, 2, 1, 2, 2, 0, 1, 0,
       1, 2, 0, 1, 2, 1, 2, 1, 2, 1, 0, 1, 0, 0, 1, 0])

In [30]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_predictions)

0.95

# Saving the model

In [31]:
from joblib import dump

In [32]:
dump(model,'RandomForestClassifier.joblib')

['RandomForestClassifier.joblib']